.quoth-author {
  font-weight: bold;
}
.quoth-title {
  font-style: italic;
}
.quoth-source span:first-child::before {
  content: "- ";
}
.quoth-author + .quoth-title::before {
  content: ": ";
  font-style: normal;
}
.quoth-copy-button {
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
}

.quoth-embedded-view {
  padding: 20px 10px 10px 10px;
  font-size: var(--editor-font-size);
  line-height: 1.5;
  padding: 20px 30px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-wrap: break-word;
  color: var(--text-normal);
  user-select: text;
  -webkit-user-select: text;
}

.quoth-highlight {
  background-color: var(--color-purple-lightest);
}

.quoth-highlight:hover {
  background-color: var(--color-purple-light);
}
